@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;

  --color-primary: #ffffff;
  --color-primary-foreground: #0a0a0a;

  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: sans-serif;
  }
}
